<h3>Friend feed</h3>
<% @feed_entries.each do |entry| %>
  <div class="grid_12">
    <%= entry.user %> posted <%= entry.content %>
  </div>
  <div class="grid_4">
    <%= link_to "Remove", "#" %> 
  </div>
  <div class="clear"></div>
  <div id="comment_container_<%= entry.id %>" class="comment_container grid_16"></div>
<% end %>
