<%= form_for(@appening) do |f| %>
  <div class="field">
    <%= f.label :title %>:
    <%= f.text_field :title, id: "#{params[:action]}_appening_field" %>
    <%= link_to "Cancel", cancel_appenings_path(appening_id: @appening, original_action: params[:action]), remote: true %>
  </div>
<% end %>
