<% if @original_action == "edit" %>
  $("#appening_<%= @appening.id %>").html("<h4><%= @appening.title %></h4>");
<% else %>
  $("#newAppening").html("");
  $('#newAppening').slideToggle('slow');
<% end %>
