<div class="grid_16 appeningList">
  <div class="appeningHeader header">
    <h3>Appenings</h3>
    <%= link_to "new <i class='icon-plus'></i>".html_safe, new_appening_path, :class => "newAppeningButton", remote: true %>
  </div>
  
  <div class="appeningEntries">
    <div id="newAppening" class="appening"></div>
    <% @appenings.each do |appening| %>
      <%= render appening %>
    <% end %>
  </div>
</div>

<div class="grid_16 appeningList">
  <div class="appeningHeader header">
    <h3>Accomplished appenings</h3>
  </div>

  <div class="appeningEntries">
    <% @accomplished_appenings.each do |appening| %>
      <%= render :partial => "accomplished", locals: {appening: appening} %>
    <% end %>
  </div>
</div>
