<div id="loginBox" class="grid_8 push_2">
	<h1 class="ribbon">
		<span class="inner-ribbon">Appenings</span>
	</h1>
	<ul>
		<li>-Organize your goals</li>
		<li>-Share them with your friends</li>
		<li>-Get help achieving them</li>
		<li>-Help others achieve their goals</li>
	</ul>


	<%= link_to "Log in", login_path, :class => "button" %>
</div>
