<div id="loginBox" class="grid_8 push_2">
	<h1 class="ribbon">
		<span class="inner-ribbon">Appenings</span>
	</h1>
	<h3>Set, organize, share and achieve your goals with appenings</h3>


	<%= link_to "Log in", login_path, :class => "button" %>
</div>
