<div class="row-fluid">
	<h1 class="span4 offset1">Appenings</h1>
	<div class="row-fluid"><h2>Set, organize, share and achieve your goals with appenings</h2></div>


	<%= link_to "Log in", login_path, :class => "button" %>
</div>
