// Place all the styles related to the Appenings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #fff;
$emerald: #019875;
$darkEmerald: #015844;
$blackGreen: #232621;
$blue: #1693CB;
$red: #CB1630;
$green: #019875;
$emeraldAlpha1:rgba(2,228,176,.4);
$emeraldAlpha2:rgba(2,228,176,.2);

$background: $black;
$headerBackground: $emerald;
$headerBorder: $darkEmerald;
$headerFont: $blackGreen;
$paragraphFont: $blackGreen;
$shade1: $emeraldAlpha1;
$shade2: $emeraldAlpha2;

$headerFont: "Bariol";


@font-face {
	font: {
		family: 'Franchise';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('Franchise-Bold-hinted.ttf', font) format('truetype');
}
