// Place all the styles related to the Appenings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #fff;
$headerBackground: #019875;
$headerBorder: #015844;
$headerFont: #232621;
$paragraphFont: #232621;
$blue: #1693CB;
$red: #CB1630;
$green: #019875;

$shade1: rgba(2,228,176,.2);
$shade2: rgba(2,228,176,.4);

@font-face {
	font: {
		family: 'Franchise';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('Franchise-Bold-hinted.ttf', font) format('truetype');
}

.friendButton{
	color:white;
	text-decoration: none;
}

.menu{
	padding-right: 0.4em;
	display: inline-block;
	float:right;
	color:white;
}

.menu a{
	font-size: .9em;
	text-decoration: none;
	margin-right: .4em;
}

body{
	background-color: $background;
	color:black;
	font-family: klavika-web, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}

/**
topbar elements
*/

.topBarContainer{
	width: 100%;
	margin-bottom: 4em;
}


.topBar{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	font-size: 2em;
	background-color: $headerBackground;
	height: 40px;
}

.container{
	padding-top: 3em !important;
}

.logo{
	font-family: Airstream, helvetica;
	color:$headerFont;
	margin-left: .4em;
}

.username, .username:visited{
	font-family: Airstream, helvetica;
	position: absolute;
	color: $headerFont;
	left:45%;
	font-size: 1.3em;
	top: -0.1em;
	text-decoration: none;
}

.logoutButton{
	text-decoration: none;
	color:red;
}

a.button:link, a.button:visited, a.button:active{
	border: 1px solid black;
	padding: 4px;
	text-decoration: none;
	color: black;
}

/* appenings list */

.appeningList{
	position: relative;
}

.appeningHeader{
	z-index: 100;
	background-color: $headerBackground;
	color: $headerFont;
	height: 30px;
	padding: 5px;
	margin-bottom: 2px;
}

.appeningHeader > h3{
	float:left;
	margin-bottom: 0;
	border-style: solid;
	border-bottom: 2em;
	border-color: red;
}

.newAppeningButton{
	color: $green;
	float:right;
	font-size: 1.5em;
}
/* individual appening */

.appeningEntries{
	background-color: $background;
}

.appening{
	height:3em;
}

div[id*="appening_"]{
	width: 856px !important;
	margin-bottom:2px;
	height: 100%;
	margin-right: 0;
	background-color: $shade1;
}

.appening > a > i{
	margin-left: 2px;
	margin-right: 0;
	background-color: $shade1;
	font-size: 3em;
	height: 100%;
	color: #fff;
	text-align: center;
}

.appening:nth-child(even) div[id*="appening_"],
.appening:nth-child(even) > a > i{
	background-color: $shade2;
}

.appening h4{
	height: 1em;
}

.appening p, .appening a{
	margin-bottom:2px;
}

.appening .icon-ok:hover{
	color: $green;
}

.appening .icon-remove:hover{
	color: $red;
}

/* add new appening, form */

.newAppening{
	margin-bottom: 2em;
}

.newAppening h3{
	margin-bottom: 0;
	margin-left: .2em;
}

.cancellNewAppening{
	font-size: 2em;
	text-decoration: none;
}

.cancellNewAppening a, .cancellNewAppening a:visited{
	color: $red;
	text-decoration: none;
}

.newAppening input[type="text"]{
	font-size: 1.4em;
	padding: .2em;
	border: 1px solid $headerFont;
	outline:0;
	width:94%;
	float: left;
}


/* end appening listing */

.ribbon{
	background-color: $headerBackground;
}


h3{
	font-family: helvetica, Arial, sans-serif;
}

a.button:hover{
	background-color: #A09675;
}

#loginBox{
	border:1px solid #000;
	margin-top: 15%;
	text-align: center;
	background-color: $background;
	padding-bottom: 20px;
}

ul{
	text-align: left;
	font-style: normal;
	list-style-type: none;
}
