// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.friends {
  display: block;  
}

div.friend-details { 
  border: 1px solid black; 
  background-color: #f1f1f1; 
  margin-bottom: 10px;
  padding: 5px;
}
