$background: #fff;
$headerBackground: #019875;
$headerBorder: #015844;
$headerFont: #232621;
$paragraphFont: #232621;
$blue: #1693CB;
$red: #CB1630;
$green: #019875;


$headerFont: "Bariol";

$shade1: rgba(2,228,176,.2);
$shade2: rgba(2,228,176,.4);

@font-face {
	font: {
		family: 'Bariol';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('Bariol_Regular.otf', font) format('opentype');
}

@font-face {
	font: {
		family: 'Franchise';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('Franchise-Bold-hinted.ttf', font) format('truetype');
}

@font-face {
	font: {
		family: 'Airstream';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('AirstreamNF.ttf', font) format('truetype');
}

a, a:hover, a:visited, a:link{
	text-decoration: none;
	color: $paragraphFont;
	outline: 0;
}

.redIcon a{
	color: $red;
}

.greenIcon a{
	color: $green;
}

.blueIcon a{
	color: $blue;
}


/**
alerts and notices
*/

.alert, .notice{
	position: fixed;
	width: 30em;
	text-align: center;
	border: 1px solid black;
	border-top: 0;
	z-index: 1000;
	margin: 0 auto 0 auto;
}

/** 
end og alerts notices
*/

body{
	background-color: $background;
	text-rendering: optimizeLegibility;
	font-family: klavika-web, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}

.header{
	border-top: 4px solid $headerBorder;
  z-index: 1000;
  border-bottom: 1px solid black;
}

h1, h2, h3, h4, h5{
	text-rendering: optimizeLegibility;
	font-family: $headerFont;
}


h1{
	font-family: $headerFont;
	font-size: 6em;
	margin-bottom: 0;
	border-bottom: 1px solid black;
	color: $paragraphFont;
}
