$background: #fff;
$headerBackground: #019875;
$headerBorder: #015844;
$headerFont: #232621;
$paragraphFont: #232621;
$blue: #1693CB;
$red: #CB1630;
$green: #019875;


$headerFont: "Bariol";

$shade1: rgba(2,228,176,.2);
$shade2: rgba(2,228,176,.4);

@font-face {
	font: {
		family: 'Bariol';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('Bariol_Regular.otf', font) format('opentype');
}

@font-face {
	font: {
		family: 'Franchise';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('Franchise-Bold-hinted.ttf', font) format('truetype');
}

@font-face {
	font: {
		family: 'Airstream';
		weight: 'normal';
		style: 'normal';
	}
	src: asset-url('AirstreamNF.ttf', font) format('truetype');
}

.stuck{
	position: fixed;
	top:0;
}

a, a:hover, a:visited, a:link{
	text-decoration: none;
	color: $paragraphFont;
	outline: 0;
}



/**
alerts and notices
*/

.alert:before, .notice:before{
	position: fixed;
	right: 1em;
	bottom: 6em;
	height: 2em;
	width: 15em;
	line-height: 2em;
}

.alert:before{
	content: "Alert";
	border-top: 4px solid rgba(127,0,0,1); //change color
	background-color: rgba(255,0,0,1);
	color: #fff;
}

.notice:before{
	content: "Notice";
	border-top: 4px solid rgba(191,158,40,1);
	background-color: rgba(255,211,54,1);

}

.alert, .notice{
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 15em;
	height: 5em;
	text-align: center;
	background-color: rgba(64,53,13, .5);
	z-index: 2000;
	margin: 0 auto 0 auto;
}

/** 
end og alerts notices
*/

body{
	background-color: $background;
	text-rendering: optimizeLegibility;
}

.header{
	border-top: 4px solid $headerBorder;
  border-bottom: 1px solid black;
}

h1, h2, h3, h4, h5{
	text-rendering: optimizeLegibility;
	font-family: $headerFont
}


h1{
	font-family: $headerFont;
	font-size: 6em;
	margin-bottom: 0;
	border-bottom: 1px solid black;
	color: $paragraphFont;
}
